# Python
__pycache__/
*.py[cod]
.venv
env/
venv/

.DS_Store
**/.DS_Store

# Jupyter
.ipynb_checkpoints

# Data (NUNCA subir datos reales a Git)
data/
!data/.gitkeep

# Configuración sensible
config/settings.yaml